
* {
    margin: 0px;
    padding: 0px;
   
}
body{
    overflow: hidden;
}
/*header*/
.container-fluid {
    background-image: linear-gradient(to right, #16708A, #16708A);
    height: 70px;
}
li{
  
    margin-bottom: 20px;
    text-decoration: none;
}
.container {
   background-color: white;

    
    border-radius: 10px;
    height: 81vh;
}

.card-body {
    overflow-y: scroll;
    height: 65vh;}
    .card-body::-webkit-scrollbar {
        width: 12px;
        background-color: whitesmoke;
      }
  
      .card-body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgb(169, 169, 169);
      }
      .box-search{
        display: flex;
        gap: .1%;
    }
.modal{
    margin-top: 10vh;
    /* height: 500px; */
    --bs-modal-width: 702px;
}
.aq{
height: 100px;
width: 200px;
background-color: #4156A5;
}

    .t{
        height: 93vh;
        background-color: #85acbb;
    }

.r{
    
    height: 92vh;
    width: 1350px;
    
}

.logo {
    font-weight: bolder;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.logob{
    height: 180px;
    margin-left: 23px;
    margin-bottom: 30px;
}
.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #0068ff0a;
    color: var(--bs-table-striped-color);
}
.card-header {
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
    margin-bottom: 0;
    color: var(--bs-card-cap-color);
    background-color: #0068ff0a;
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
.h{
    width: 230px;
    margin: auto;
}
.usuario {
    color: rgb(255, 255, 255);
    margin-left: 50px;
    font-size: 20PX;
}

label {
    font-weight: bold;
 
}

.imgFundo {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

.navbar {
    padding: 0px;
}



.btn-group {
    margin-top: 20px;
    width: 100%;
    height: 50px;
}

.sair:hover {
    /* Estilos ao passar o mouse */
    box-shadow: 11px 11px 30px rgba(0, 0, 0, 0.219);
    transform: scale(1.05);

  }
.sair {
    border-radius: 5px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: red;
    height: 35px;
    width: 65px;
    margin-right: 100px;
}

/*navegação de páginas*/
.bntPag:hover {
    /* Estilos ao passar o mouse */
    box-shadow: 11px 11px 30px rgba(0, 0, 0, 0.219);
    transform: scale(1.07);
  }
.bntPag {
    padding: 10px 20px;
  background-color: #ccc;
  border: none;
  color: #fff;
  transition: background-color 0.3s ease;
  box-shadow: 5px 11px 10px rgba(0, 0, 0, 0.342);
    font-size: 21px;
    font-family: 'Catamaran', sans-serif;
    margin-bottom: 20px;
    font-weight: bold;
    height: 58px;
    width: 200px;
    border-radius: 15px;
    border: none;
    color: #469BE7;
    background-color: #ffffff;
}
button {
   
    border: none;
}
.row{
    

  width: 100%;
}
.botaoPag {
     
    margin: auto;
}

/*div principal*/
#sistema {
    font-family: 'Catamaran', sans-serif;
    border-radius: 6px;
    margin-top: 50px;
    font-weight: bold;
 text-align: center;
    background-color: #17A3BB;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 47px;
    
}
h4{
    font-weight: bold;
    color: #62503f;
}


.conteudoPrincipal {
 
    width: 1000px;
}

.caixas {
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 11px 13px 10px rgba(0, 0, 0, 0.5);
    padding-left: 30px;
    background-color: rgba(255, 255, 255, 0.445);
    height: 300px;
    width: 300px;
}

.caixa5 {
    width: 625px;
}
.imgAlarme{
  padding-left: 5px;
}