* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
    background: linear-gradient(to bottom right, #30708d, #7dacbd);
}

.imgFundo {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/*cabeçario*/
.container-fluid {
    height: 70px;

}

.navbar {
    padding: 0px;
}

.usuario {
    color: rgb(255, 255, 255);
    margin-left: 50px;
    font-size: 20PX;
}

.startup {
    font-weight: bolder;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.labelSair {
    color: white;
    margin-right: 1vh;
}

.sair:hover {
    color: #468CC9;
    transform: scale(1.30);
}

.sair {
    border-radius: 20px;
    font-weight: bold;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 35px;
    width: 35px;
    margin-right: 60px;
}

.navpaginas {
    margin: auto;
}

.navpaginas>a {
    margin-right: 10vh;
    text-decoration: none;
    color: white;
    font-size: 19px;
}

.animated-underline {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 5px;
    overflow: hidden;
}

.animated-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.animated-underline:hover {
    font-weight: bolder;
}

.animated-underline:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    
}

/*coluna navegação de páginas*/
.logo {
    height: 55px;
    margin-top: 15px;
    margin-left: 34px;
}

.logotext {
    color: white;
    margin-top: 3px;
    font-weight: bolder;
    margin-left: 44px;
    font-size: 22px;
    margin-bottom: 12vh;
}

.legenda {
    color: #ededed;
}

.btn-primary {
    --bs-btn-bg: #ffffff00;
    --bs-btn-border-color: #ffffff00;
}

.navegacao {
    height: 100vh;
    width: 135px;
}

.divbotoes {
    width: 230px;
    margin: auto;
}

.bntPag:hover {
    box-shadow: 11px 11px 30px rgba(0, 0, 0, 0.219);
    transform: scale(1.07);
}

.butao {
    height: 50px;
    width: 50px;
    margin-bottom: 30px;
}

.clicado {
    background-color: white;
    color: #468CC9;
}

.hover-animated-button {
    background-color: #ffffff00;
    color: white;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    height: 65px;
    width: 65px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    transform: scale(1);
}

.hover-animated-button:hover {
    color: #468CC9;
    background-color: #ffffff;
    transform: scale(1.1);
}

/*conteudo principal da pagina*/
.conteudoPrincipal {
    padding-top: 27px;
    width: 171vh;
    margin: auto;
}

.aimg {
    height: 50%;
    float: right;
}

.cards {
    width: 91%;
    padding: 0px;
    margin: 0px;

}

.conteudo {
    background-color: #ffffff;
    height: 90%;
    border-radius: 30px;
}

.caixas {
    border-radius: 15px 15px 15px 15px;
    margin-right: 30px;
    width: 439px;
    box-shadow: 11px 11px 30px rgb(0 0 0 / 21%);
    padding-left: 30px;
    background-color: rgb(255, 255, 255);
    height: 300px;
}

.caixa1 {
    height: 300px;
    width: 539px;
    background: linear-gradient(to bottom right, #2482ad, #ff81002e);
}

.caixa2 {
    width: 300px;
    background-color: #ff81002e;
}

.pendeteMsg {
    margin-right: 10px;
}

.caixa3 {
    background: linear-gradient(to bottom right, #a1e9c8, #adb5bd);
    height: 300px;
    width: 539px;
}

.caixa4 {
    width: 300px;
    background-color: #EAF0FC;
}

h4 {
    font-size: 1.3rem;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

h5 {
    font-weight: bold;
    color: black;
}

.r{
  
    margin: auto;
    height: 50vh;
    background-color: rgb(215, 245, 250);
}
