* {
    margin: 0px;
    padding: 0px;
}


body {
    overflow: hidden;
    background: linear-gradient(to bottom right, #284e65, #341189);
}

.imgFundo {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}


/*cabeçario*/
.container-fluid {
    height: 70px;

}

.navbar {
    padding: 0px;
}

.usuario {
    font-family: 'Saira Condensed', sans-serif;
    color: rgb(255, 255, 255);
    margin-left: 50px;
    font-size: 21px;
}


.labelSair {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 18px;
    color: white;
    margin-right: 1vh;
}

.sair:hover {
    color: #468CC9;
    transform: scale(1.30);
}

.sair {

    border-radius: 20px;
    font-weight: bold;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 30px;
    margin-right: 60px;
}

.navpaginas {
    margin: auto;
}



.animated-underline {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 5px;
    overflow: hidden;
}

.navemprestimo {
    font-weight: bolder;
    font-size: 17px;
}
.divnav{
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', sans-serif;
    margin-right: 8vh;
   
}
.animated-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.animated-underline:hover {
    font-weight: bolder;

}

.animated-underline:hover::after {
    transform: scaleX(1);
    transform-origin: left;

}

/*coluna navegação de páginas*/
.logo {
    height: 82px;
    margin-top: 3px;
    margin-left: 17px;
}

.logotext {
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    margin-top: -5px;
    margin-left: 27px;
    font-size: 20px;
    margin-bottom: 5vh;
}

.legenda {
    font-size: 15px;
    color: #ededed;
    font-family: 'Saira Condensed', sans-serif;
}

.btn-primary {
    --bs-btn-bg: #ffffff00;
    --bs-btn-border-color: #ffffff00;
}

.navegacao {
    height: 100vh;
    width: 135px;
}

.divbotoes {
    width: 230px;
    margin: auto;
}

.bntPag:hover {
    box-shadow: 11px 11px 30px rgba(0, 0, 0, 0.219);
    transform: scale(1.07);
}

.butao {
    height: 50px;
    width: 50px;
    margin-bottom: 30px;
}

.clicado {
    background-color: white;
    color: #468CC9;
}

.hover-animated-button {
    background-color: #ffffff00;
    color: white;
    border: none;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: transform 0.1s, background-color 0.1s;
    transform: scale(1);
}

.hover-animated-button:hover {
    color: #468CC9;
    background-color: #ffffff;
    transform: scale(1.1);
}

/*conteudo principal da pagina*/
.conteudoPrincipal {
    padding-top: 27px;
    width: 176vh;
    margin: auto;
}

.aimg {
    height: 50%;
    float: right;
}

.cards {
    width: 88%;
    padding: 0px;
    margin: 0px;

}

.conteudo {
    height: 87%;
    border-radius: 30px;
    background-image: url('../IMG/fundoemprestimo.png');
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.caixas {
    border-radius: 15px 15px 15px 15px;
    margin-right: 55px;
    width: 439px;
    box-shadow: 11px 11px 30px rgb(0 0 0 / 21%);
    padding-left: 30px;
    background-color: rgb(255, 255, 255);
    height: 240px;
}

.caixa1 {
    height: 240px;
    width: 485px;
    background: linear-gradient(to bottom right, #2482ad, #ff81002e);
}

.caixa2 {
    width: 280px;
    background-color: #ff81002e;
}

.pendeteMsg {
    margin-top: 23px;
    font-size: 12px;
    margin-right: 10px;
}

.caixa3 {
    background: linear-gradient(to bottom right, #a1e9c8, #adb5bd);
    height: 240px;
    width: 485px;
}

.caixa4 {
    width: 280px;
    background-color: #EAF0FC;
}

h4 {
    font-size: 1.3rem;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

h5 {
    font-weight: bold;
    color: black;
}

.divFormulario {
    margin-left: 10vh;
    width: 90vh;
    padding-top: 3vh;
}

.formLivro {
    width: 79vh;
}

.tituloFormulario {
    text-align: center;
}

.form-control {
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #c2e4fd38;
}

.emprestar {
    background-color: #0B5ED7;
    color: white;
    margin-top: 4vh;
    border-radius: 20px;
}

.formprin {
    margin-left: 10px;
    color: #0B5ED7;
    margin-bottom: 0.5rem;
    font-size: 18px;

}

.emprestar:hover {
    background-color: #0084ff;
    color: white;
}
.cadastrar{
    margin-left: 10px;
}
.cadastrar:hover{
    margin-left: 10px;
    color: #389fff;
}


.mensagem-escondida {
    display: none;
}

#mensagem {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
